<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Online Monitoring System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>

<div class="home-wrapper">

    <!-- =============================== -->
    <!-- Header -->
    <!-- =============================== -->

    <div class="home-header">

        <h1>

            Online Examination Monitoring System

        </h1>

    </div>

    <!-- =============================== -->
    <!-- Main Card -->
    <!-- =============================== -->

    <div class="home-card">

        <h2>

            Welcome

        </h2>


        <div class="button-group">

            <a href="{{ url_for('auth.login') }}">

                <button class="primary-btn">

                    Candidate Login

                </button>

            </a>

            <a href="{{ url_for('auth.register') }}">

                <button class="secondary-btn">

                    New Registration

                </button>

            </a>

            

            <a href="{{ url_for('exam.admin_login') }}">
                <button class="admin-btn">
                    Admin Dashboard
                </button>
            </a>

        </div>

    </div>

</div>

</body>

</html>