<!DOCTYPE html>
<html>

<head>

    <title>Candidate Login</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/common.css') }}">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/login.css') }}">

</head>

<body>

<div class="login-wrapper">

    <div class="login-card">

        <div class="login-title">

            <h2>Candidate Login</h2>

            <p>Online Monitoring System</p>

        </div>

        <!-- Flash Messages -->

        <div class="flash-container">

            {% with messages = get_flashed_messages() %}

                {% if messages %}

                    {% for message in messages %}

                        <div class="flash flash-warning">

                            {{ message }}

                        </div>

                    {% endfor %}

                {% endif %}

            {% endwith %}

        </div>

        <!-- Login Form -->

        <form method="POST" class="login-form">

            <label>Email</label>

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required>

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required>

            <button
                type="submit"
                class="btn btn-full login-btn">

                Login

            </button>

        </form>
        <a href="{{ url_for('home') }}" class="back-home-btn">
            ← Back to Home
        </a>

        <!-- Footer -->

        <div class="login-footer">

            <p>

                Don't have an account?

                <a href="{{ url_for('auth.register') }}">

                    Register Here

                </a>

            </p>

        </div>

    </div>

</div>

</body>

</html>